<div class="jumbotron">
  <h1 class="display-4">Friend Finder</h1>
  <p class="lead">Find a hot date or a good pal!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/survey" role="button">Go to Survey!</a>
  </p>
</div>