<div style="text-align: center">
  <div class="jumbotron">
    <h1 class="display-4">The Friend Zone</h1>
    <p class="lead">Find a hot date (or more likely a good pal...)</p>
    <hr class="my-4">
    <p class="lead">
      <img src="https://i2.cdn.turner.com/money/dam/assets/160211172148-eharmony-neil-warren-780x439.jpg">
      <br>
      <br>
      <a class="btn btn-primary btn-lg" href="/survey" role="button">Love is closer than you think!</a>

    </p>
  </div>
</div>