<div class="jumbotron">
  <h1 class="display-4">The Friend Zone</h1>
  <p class="lead">Find a hot date (or more likely a good pal...)</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/survey" role="button">Go to Survey!</a>
  </p>
</div>