<h1>Your Match is {{bestMatch}}</h1>
<h4>with only {{bestDiff}} pts difference</h4>

<div class="jumbotron">
  <h1 class="display-4">Your Match is {{bestMatch}}</h1>
  <p class="lead">with only {{bestDiff}} pts difference</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>