<h1>The Friend Survey</h1>
<form action="survey" method="post">
  <label for="user_name">Name</label>
  <br>
  <input type="text" name="user_name">
  <br>

  <label for="photo">Photo Link</label>
  <br>
  <input type="text" name="photo">
  <br>

  <label for="pets">Pet Lover</label>
  <br>
  <input type="range" id="start" name="pets" min="0" max="5" />
  <br>

  <label for="outdoorsy">Outdoorsy</label>
  <br>
  <input type="range" id="start" name="outdoorsy" min="0" max="5" />
  <br>

  <label for="outgoing">Outgoing</label>
  <br>
  <input type="range" id="start" name="outgoing" min="0" max="5" />
  <br>

  <label for="upset">People can rarely upset you.</label>
  <br>
  <input type="range" id="start" name="upset" min="0" max="5" />
  <br>

  <label for="curious">You rarely do something just out of sheer curiosity.</label>
  <br>
  <input type="range" id="start" name="curious" min="0" max="5" />
  <br>

  <label for="introvert">You feel more energetic after spending time with a group of people.</label>
  <br>
  <input type="range" id="start" name="introvert" min="0" max="5" />
  <br>

  <label for="creative">You rarely get carried away by fantasies and ideas.
  </label>
  <br>
  <input type="range" id="start" name="creative" min="0" max="5" />
  <br>

  <label for="relaxed">You are easy going.</label>
  <br>
  <input type="range" id="start" name="relaxed" min="0" max="5" />
  <br>

  <label for="family">You are close with your family</label>
  <br>
  <input type="range" id="start" name="family" min="0" max="5" />
  <br>

  <label for="friends">You have lots of friends</label>
  <br>
  <input type="range" id="start" name="friends" min="0" max="5" />
  <br>
  <input type="submit" class="btn-primary">
</form>